{% extends "base.html" %}
{% block content %}
    <h2>Please sign-in</h2>
    {% if user.is_anonymous %}
        <div class="form">
            <form action="{% url login %}" method="post">
                {% csrf_token %}
                {% with form as form %}
                    {% include "includes/form.html" %}
                {% endwith %}
                <div class="submit">
                    <input type="submit" value="Login">
                    <span style="margin-left:.5em">Login/pass: admin/admin</span>
                </div>
            </form>
        </div>
    {% else %}
        <p>You are already signed in</p>
    {% endif %}
{% endblock %}