{% csrf_token %}

{% for error in form.non_field_errors %}
    <span class="error">{{ error }}</span>
{% endfor %}

{% for field in form %}
    <div class="form_item">
        {% if not field.is_hidden %}

            <div class="label">
                {{ field.label_tag|safe }}
                {% if field.field.required %}
                    <span class="required">*</span>
                {% endif %}
            </div>

            <div class="clearfix"></div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                        <div class="clearfix"></div>
                    {% endfor %}
                {% endif %}

            <div class="field">{{ field|safe }}</div>

            <div class="help">{{ field.help_text }}</div>

        {% else %}
            {{ field|safe }}
        {% endif %}
    </div>
{% endfor %}
